*{
    font-family: “Helvetica”;
     /*DEBUG*/
     color: white;
     margin: 0;
}

/***************************************************************************/
/*DEBUG*/
/***************************************************************************

.row{
    background-color: orange;
    border: solid 1px white;
}

[class*="col-"] {
    min-height: 50px;
    background-color: blue;
    color: white;
    border: solid 0.1rem white;
}
.container-fluid {
  
    min-height: 100px;
}

.container-md{

    min-height: 100px;
}

/***************************************************************************/
 /*END DEBUG*/
/***************************************************************************/


/*SETTING BACKREOUD COLOR*/
.bg-green{
    background-color: #1abc9c;   
}
.bg-darker-blu{
    background-color: #263544;
}
.bg-light-darkblue{
    background-color: #3a546d;
}
/*SETTING NAV*/
nav{
    position: fixed;
    width: 100%;
    height: 70px;
}
nav div{
    height: 70px;
}
#logo{
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    font-size: 25px;
}

#menu-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 25px;
}

/*SETTING JAMBO- FIRST SECTION*/
.flex-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    height: 100% ;
}

#jambo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.stella{
    align-items: center;

    justify-content: center;
    margin: auto;
}
img{
    width: 100%;
}
.barra{
    border: solid 0.1rem white;
    width: 4rem;
}
.fa-star{
    font-size: 20px;
    margin: auto;
    align-items: center;
}
.title{
    text-align: center;
}
.text > span{
    width: 100%;
}

/*second section */
.black-item {
    color: black;
}
.barra.black-item{
    border: solid 0.1rem black;

}

#portfolio > .flex-item {
    color: black;
}
.rounded-img{
    margin: 20px auto;
}
.rounded-img > div{
    margin: 12px auto;
}

.border-rounded{
    border-radius: 30px;
}


/*section tre*/

