*{
    font-family: “Helvetica”;
     /*DEBUG*/
     color: white;
     font-size: 30px;
}

/***************************************************************************/
/*DEBUG*/
/***************************************************************************/

.row{
    background-color: orange;
    border: solid 1px white;
}

[class*="col-"] {
    min-height: 50px;
    background-color: blue;
    color: white;
    border: solid 0.1rem white;
}
.container-fluid {
    /*DEBUG*/
    min-height: 100px;
}

.container-md{
    /*DEBUG*/
    min-height: 100px;
}

/***************************************************************************/
 /*END DEBUG*/
/***************************************************************************/


/*SETTING BACKREOUD COLOR*/
.bg-green{
    background-color: #1abc9c;   
}
.bg-darker-blu{
    background-color: #263544;
}
.bg-light-darkblue{
    background-color: #3a546d;
}
/*SETTING NAV*/
nav{
    height: 70px;
}

#menu-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

/*SETTING JAMBO- FIRST SECTION*/
.flex-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jambo{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    height: 100vh;
}

img{
    width: 100%;
}

/*section tre*/
.rounded-img{
  
}

.rounded-img > div{
    padding: 0;
}

.border-rounded{
    border-radius: 30px;
}